.card-img {
    width: 450px;
    height: 300px;
    border-radius: 30px;
}

.list-group {
    word-break: break-word;
    width: 360px;
}

.card-body {
    width: 360px;
}

.card-remark {
    height: 200px;
}

.card-remark p {
    white-space: pre-wrap;
}