/* アバター画像 */
.avatar-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

/* コンテンツリスト */
.user-contents-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* 会員情報リンク */
.user-info-link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
}

/* 予約表リンク */
.reservation-calendar-link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
}

/* マイバイクリンク */
.user-bike-index-link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
}

/* 退会リンク */
.user-bike-index-link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
}

.fa-user-edit {
    display: inline-block;
    text-align: center;
}

/* リンクマウスオーバー */
a:hover {
    font-weight: bold;
    color: deepskyblue;
}