@charset "utf-8";

p {
    line-height: 2;
    font-size: 15px;
}

.main-visual {
    background:url(https://bikeshare-bucket001.s3.ap-northeast-1.amazonaws.com/welcome/main_visual.webp) center no-repeat;
    background-size: 100% auto;
    height: 480px;
    position: relative;
}

.main_visual_text {
    color: white;
    font-weight: 500;
    font-size: 50px;
    text-shadow:0 5px 5px black;
    top: 60px;
    left: 5px;
    text-align: center;
    font-weight: 900;
}

.left-side {
    background-color: lightgreen;
}

.search-body-list {
    list-style: none;
    opacity: 0.9;
}

.btn-list {
    display: flex;
    align-items: center;
}

ul, ol {
    list-style: none;
}

.btn-lg {
    width: 500px;
    height: 100px;
}

.btn-signup {
    text-decoration:underline;
    text-decoration-color:black;
}

#footer {
    background-color: olivedrab;
    position: relative;
    height: 200px;
    margin-top: auto;
}

#footer .copyright{
    position: absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}